<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<!--配置过滤器编码-->
  <!-- 注册过滤器 -->
  <filter>
  	<filter-name>charset</filter-name>
  	<filter-class>com.molly.filters.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>charset</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>	
<!--配置applicationContext路径-->
<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		classpath:config/applicationContext.xml,
		classpath:config/spring-shiro.xml
	</param-value>
</context-param>
<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
		
<!--配置dispatcherServlet-->
<servlet>
	<servlet-name>springmvc</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/spring-servlet.xml</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>	
</servlet>
<servlet-mapping>
	<servlet-name>springmvc</servlet-name>	
	<url-pattern>/</url-pattern>
</servlet-mapping>


	  <!-- shiro的监听器 -->
	 
	  <!-- shiro提供的过滤器 -->
	  <filter>
	  	<filter-name>shiroFilter</filter-name>
	  	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	  </filter>
	  <filter-mapping>
	  	<filter-name>shiroFilter</filter-name>
	  	<url-pattern>/*</url-pattern>
	  </filter-mapping>
	  <!-- 默认的首页 -->
	   <welcome-file-list>
	  	<welcome-file>html/login.html</welcome-file>
	  </welcome-file-list>
</web-app>