<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
			<context:component-scan base-package="com.molly.service"/>
			
			<!-- 配置用户自定义realm对象 -->
			<bean id="customRealm" class="com.molly.shiro.CustomRealm">
				<property name="credentialsMatcher">
					<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
						<!-- 加密算法选择用MD5 -->
						<property name="hashAlgorithmName" value="MD5"></property>
						<property name="hashIterations" value="1024"></property>
					</bean>
				</property>
			</bean>
			<!-- 安全管理器 -->
			<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
				<property name="realm" ref="customRealm"></property>
			</bean>
			<!-- shiro生命周期管理对象 -->
			<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>
			<!-- 如果要使用shiro的注解 -->
			<!--<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
				<property name="securityManager" ref="securityManager"></property>
			</bean>-->
			<!-- 用户自定义的过滤器 -->
			<bean id="roleFilter" class="com.molly.filters.AuthFilter"></bean>
			<!-- shiro提供的过滤器 -->
			<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
				<!-- shiroFilter进行路径过滤必须依赖安全管理器 -->
				<property name="securityManager" ref="securityManager"></property>
				<!-- 身份认证失败后要跳转的地址 -->
				<property name="loginUrl" value="/html/login.html"></property>
				<!-- 授权失败，配置失败的地址 -->
				<property name="unauthorizedUrl" value="/html/error.html"></property>
				<!-- 配置自定义过滤器 -->
				<property name="filters">
					<map>
						<entry key="roleOr" value-ref="roleFilter"></entry>
					</map>
				</property> 
				<property name="filterChainDefinitions">
					<value>
						<!-- anon 是shiro提供的过滤器，代表匿名访问，无需认证直接访问 -->
						<!-- 异常页面的权限设置 -->
						/** = anon

					</value> 
				</property>
			</bean>
</beans>